@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F9F5F0;
  font-family: 'Poppins', sans-serif;
  color: #4E3A28;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}